.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
  }
  
  .posts,
  .newPost {
    flex: 1;
    margin: 0 1rem;
  }
  
